.idea/
/Fontes/.vs/
/Fontes/ConfirmaV2.API/obj/
/Fontes/ConfirmaV2.Console/obj/
/Fontes/ConfirmaV2.Kernel/obj/
/Fontes/ConfirmaV2.AWSServerless/obj/
/Fontes/ConfirmaV2.API/bin/
/Fontes/ConfirmaV2.Kernel/bin/
/Fontes/ConfirmaV2.Console/bin/
/Fontes/ConfirmaV2.AWSServerless/bin/
/Model/CodeG.lck
/Model/CodeG.log
*.user
/Fontes/ConfirmaV2.API/ConfirmaV2.API/ConfirmaV2.API.xml
/Fontes/ConfirmaV2.AWSServerless/Readme.md
/Fontes/Treinamento
/.vs/VSWorkspaceState.json
/.vs/confirma-v2-cs/v16
