.idea/
/Fontes/.vs/
/Fontes/EasyCine.API/obj/
/Fontes/EasyCine.Console/obj/
/Fontes/EasyCine.Kernel/obj/
/Fontes/EasyCine.AWSServerless/obj/
/Fontes/EasyCine.API/bin/
/Fontes/EasyCine.Kernel/bin/
/Fontes/EasyCine.Console/bin/
/Fontes/EasyCine.AWSServerless/bin/
/Model/CodeG.lck
/Model/CodeG.log
*.user
/Fontes/EasyCine.API/EasyCine.API/EasyCine.API.xml
/Fontes/EasyCine.AWSServerless/Readme.md
/.vs/VSWorkspaceState.json
/.vs/EasyCine/v16
